body{
	background-color: #E0E0E0;
}
#headerContact{
	color: #FFFFFF;
	line-height: 35px;
	background-color: #2786A7;
}
#headerRecherche{
	position: relative;
}
#fondRecherche{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
}
#logoFace {
	width: 300px;
}
#search span{
	color: #FFFFFF;
	padding: 8px;
	margin-left: -5px;
	border-radius: 0 5px 5px 0;
	background-color: #2786A7;	
}
#Accueil{
	background-color: #E79063;
	border-bottom: 2px solid #feb38c;
}
.navHeader a{
	color: #FFFFFF;
	text-transform: uppercase;
}
#section1{
	margin-top: 290px;
	margin-right: auto;
	margin-left: auto;
}
#img1{
	width: 100%;
	height: 100%;
	border:1px solid black;
}
#sec{
	position: relative;
	padding: 0;
	width: 650px;
	height: 400px;
	background-color: #FFFFFF;
	border:1px solid black;
}
#sec p{
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFFFFF;
	padding: 25px;
	position: absolute;
	bottom: -10px;
}
#section2{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#divFacebook{
	color: #FFFFFF;
	background-color: #3B5999;
}
#divFacebook div, #divPresse div{
	padding-left: 25px;
	padding-top: 10px;
}
#divFacebook div h2, #divPresse div h2{
	font-size: 3em;
	margin:0;
	margin-bottom: 10px;
}
#pFacebook{
	margin:0;
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	font-size: 3em;
	color: #3B5999;
	background-color: #FFFFFF;
	border-radius: 5px;
}
#logoFacebook{
	position: absolute;
	bottom: -5px;
	right: 5px;
}
#contenuFacebook{
	width: 90%;
	height: 200px;
	background-color: #FFFFFF;
	margin: 0 0 20px 10px;
}
#divPresse{
	background-color: #FFFFFF;
}
#contenuPresse{
	background-color: #FFFAF0;
	width: 90%;
	height: 200px;
	margin: 0 0 20px 10px;
}
footer p{
	width: 100%;
	line-height: 200px;
}
