body{
	background-color: #F2F2F2;
}
.a{
	padding: 10px;
	background-color: #1693A5;
	border-bottom: 5px solid #005449;
}
img {
	width: 300px;
	height: 150px;
}

.presse_agenda {
	height: 300px;
	border:1px solid black;
	background-image:radial-gradient(white, #F2F2F2);
}
header{
	line-height: 150px;
	background-color: #E4F4F2;
	border-top: 3px solid white;
}
header a{
	font-size: 25px;
	color: #005449;
}
header a:hover {
	text-decoration: none;
	color: #F79362;
	text-shadow: -1px 0 0 rgba(255, 255, 255, 1.8), 
             1px 0 0 rgba(255, 255, 255, 1.8),
             0 -1px 0 rgba(255, 255, 255, 1.8),
             0 1px 0 rgba(255, 255, 255, 1.8);
    font-size: 30px;
}
section {
	margin-top: 70px;
	
}
#section1{
	padding: 20px 0 20px 0;
	background-color: #FAEFE5;
	
}
.img1{
	width: 500px;
	height: 350px;
}
#articles{
	
	height: 200px;
	margin-top: -35px;

}
#articles a {
	padding: 30px;
	border: 1px solid black;
	
	text-decoration: none;
	font-size: 25px;
	color: #FAEFE5;
}
#articles a:hover {
	color:#F79362;
	font-size: 27px; 
}
footer{
	margin-top: 200px;
}

.imgUn{
	
	width: 70px;
	height: 70px;
}
.imgDeux{
	
	width: 70px;
	height: 70px;
}
.imgTrois{
	width: 70px;
	height: 70px;
}
#logo {
	display: flex;
	justify-content: space-around;
}
#logos {
	display: flex;
	justify-content: space-around;
	font-size: 25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000BA5), to(#8EF9F2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#article2{
	background-color: #525A6E;
}
#article3{
	background-color: #2889A7;
}
#article1{
	background-color: #C83F62;
}